.videosText {
  color: #fc1503;
}

.categoryButton {
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;
  color: #fc1503;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.categoryButton:hover {
  background-color: #fc1503;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .categoryButton {
    margin: 10px;
  }
}

@media screen and (max-width:800px) {
  .copyRight {
    display: none;
  }
}
